@font-face {
    font-family: "Reggae One";
    src: url("./fonts/ReggaeOne-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

body {
    --ivory: #fdfceaff;
    --alabaster: #f5f3e7ff;
    --lion: #bd9d71ff;
    --coyote: #756c4dff;
    --beaver: #95856fff;
    --caf-noir: #3d2a15ff;
    --yellow: #fbfd00ff;
    --yellow-green: #a2c702ff;
    --avocado: #4d790cff;
    --dark-moss-green: #48640eff;
    --pakistan-green: #1d3305ff;

    font-family: "Reggae One";
    max-width: max-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: var(--beaver);
    background-image: linear-gradient(90deg,
            var(--alabaster) 44.64%,
            var(--beaver) 44.64%,
            var(--beaver) 46.43%,
            var(--pakistan-green) 46.43%,
            var(--pakistan-green) 48.21%,
            var(--beaver) 48.21%,
            var(--beaver) 50%,
            var(--alabaster) 50%,
            var(--alabaster) 94.64%,
            var(--beaver) 94.64%,
            var(--beaver) 96.43%,
            var(--pakistan-green) 96.43%,
            var(--pakistan-green) 98.21%,
            var(--beaver) 98.21%,
            var(--beaver) 100%);
    background-size: 56px 56px;
    box-shadow: 3px 0px 5px var(--caf-noir), -3px 0px 5px var(--caf-noir);
}

header {
    position: fixed;
    width: auto;
    top: 1.6vh;
    left: 10%;
    right: 10%;
    display: flex;
    justify-content: center;

    nav {
        width: 70vh;
        display: flex;
        justify-content: space-between;

        button {
            font-family: "Reggae One";
            font-size: 1.8vh;
            font-weight: 500;
            color: var(--caf-noir);
            background-color: var(--alabaster);
            padding: 1.3vh 5vh;
            border: solid #3d2a15 3px;
            box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
            border-radius: 6px;
            transition: padding 1000ms;
            transform: translateY(0);
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
            text-transform: uppercase;
        }

        button:hover {
            transition: 1000ms;
            padding: 1.3vh 7vh;
            transform: translateY(-0px);
            background-color: var(--ivory);
            color: var(--pakistan-green);
            border: solid 3px var(--pakistan-green);
        }
    }
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vh;
    background-image: url(./img/welcome.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        text-align: center;
        font-size: 5.5vh;
        color: var(--ivory);
        padding: 0 2.5vh;
        border-radius: 6vh;
        background-image: url("./img/pattern.jpeg");
        background-size: 60vh 60vh;
        background-position: 40% 60%;
        text-shadow: 0px 0px 8px var(--caf-noir);
    }

    h1.home {
        margin: 29vh 0 -2.4vh;
    }

    h2.home {
        margin-bottom: 1vh;
        font-size: 1.7vh;
        color: var(--alabaster);
        background-color: var(--caf-noir);
        opacity: 90%;
        border-radius: 1.7vh;
        padding: 0vh 1vh;
    }

    p.home {
        font-size: 1.6vh;
        text-align: justify;
        text-indent: 6vh;
        margin: 0;
        padding: 1vh;
        width: 55%;
        color: var(--caf-noir);
        line-height: 1.8vh;
    }

    h1.menu {
        margin: 24vh 0 2vh;
    }

    div.menu#dishArea {
        color: var(--caf-noir);
        width: 52vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5vh 3vh;

        .menu.dish {
            display: flex;

            .iconWrapper {
                img {
                    width: 8.5vh;
                    height: 8.5vh;
                    margin-right: 1.5vh;
                    filter: invert(15%) sepia(13%) saturate(2020%) hue-rotate(351deg) brightness(95%) contrast(93%);
                }
            }

            h4 {
                margin: 0px;
                font-size: 1.6vh;
            }

            p {
                margin: 0px;
                font-size: 1.2vh;
                line-height: 1.2vh;
                text-align: left;
            }
        }
    }

    h1.about {
        margin: 24vh 0 0vh;
    }

    div.about#chefArea {
        position: relative;
        left: 1vh;
        color: var(--caf-noir);
        width: 55vh;

        .about.chef {
            display: flex;
            margin: 0.7vh 0;

            .iconWrapper {
                img {
                    width: 12vh;
                    height: 12vh;
                    margin-right: 1.5vh;
                }
            }

            h3 {
                margin: 0 0 -0.3vh;
                font-size: 2.3vh;
            }

            h4 {
                margin: 0px;
                font-size: 1.8vh;
            }

            p {
                margin: 0px;
                font-size: 1.3vh;
                line-height: 1.2vh;
                text-align: left;
            }
        }
    }
}

footer {
    position: absolute;
    padding: 5px;
    right: 0px;
    bottom: 10px;
    font-size: 1.3vh;
    background-color: var(--alabaster);
    border-radius: 5px 0 0 5px;
    box-shadow: -2px 2px 10px var(--caf-noir);

    a {
        text-decoration: none;
        color: var(--caf-noir);

        p {
            margin: 0;
            text-align: end;
            line-height: 1.3vh;
        }
    }

    a:after {
        text-decoration: none;
        color: var(--coyote);
    }
}